/api-core/src/commonMain/kotlin/com/nxoim/blean/apiCore/LocalConfig.kt
*.iml
.gradle
**/.gradle
local.properties
/.idea
.DS_Store
build/
**/build
/captures
.externalNativeBuild
.cxx
sample/iosApp/Podfile.lock
sample/iosApp/Pods/*
sample/iosApp/iosApp.xcworkspace/*
sample/iosApp/iosApp.xcodeproj/*
!sample/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspacedata
*.lockfile

**/project.xcworkspace/
**/project.xcworkspace/xcuserdata/
**/xcuserdata/
**/.swiftpm
**/Frameworks/ComposeCommonAppEntry.xcframework
**/Frameworks/ComposeApp.xcframework

/.kotlin/

out/
*.jks
*.keystore
*.hprof

*.xcuserstate
*.moved-aside
DerivedData/
**/DerivedData/
**/*.xcscmblueprint
**/*.xccheckout
